@import "./variables-css.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: var(--fondo);
}

.hero{
  position: relative;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 22px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2,50%);
}

.hero_text{
  max-width: 380px;
}

.hero_p{
  margin: 0;
  font-weight: 500;
}

.hero_img{
  max-width: 400px;
}

/* .hero-arrow{
  position: absolute;
  bottom: 20px;
  font-size: 55px;
} */

.hero-arrow{
  position: absolute;
  bottom: 35px;
  width: 55px;
  height: 55px;
  background-color: black;
  transform: rotate(45deg);
  animation-name: moveArrow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.hero-arrow::after{
  content: "";
  position: absolute;
  width: 56px;
  height: 56px;
  background-color: var(--fondo);
  bottom: 4px;
  right: 4px;
}

@keyframes moveArrow{
  0%{
    opacity: .9;
    transform: translateY(-30px) rotate(45deg);


  }

  100%{
    opacity: 0;
  }
}

/*All*/
/* section{
  max-width: 1200px;
  margin: 0 auto;
} */

.container{
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width:767px){
  .hero{
    display:flex;
    justify-content: center;
    height: 93vh;
  }
  .hero_text{
    display: none;
  }

  .hero_img{
    width: 100%;
  }
}